*{
    margin: 0px;
}
#content{
    display: flex;
    flex-direction: row;
    padding: 10px 30px ;
}
#contentLeft{
    width: 30%;
    box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75) ;
   
   
}
#image{
    width: 100%;
    height: auto;
    opacity: 0.8;
}
#left-1{
    position: relative;
}
#left-2{
    margin: 5px;
    border-bottom: 1px solid gray;
}
#left-3{
    margin: 5px;
    border-bottom: 1px solid gray;
}
#left-4{
    margin: 5px;
}
i,.icon{
    color:#009688;
}
h3,h2{
    color: gray;
    margin-top: 10px;
}
h4{
    color: #616161;
    margin: 10px;
}
#name{
    position: absolute;
    bottom: 0px;
    color: white;
    margin: 5px;
}

#contentRight{
    width: 70%;
   
    margin-left: 15px;

}
#rightUp,#rightMiddle,#rightDown{
    padding: 10px;
    box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75) ;
}
#rightMiddle,#rightDown{
    margin-top: 15px;
}
.contentRight-heading{
    color: darkgray;
    margin-bottom: 30px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #dddddd;
}

#footer{
    height: 80px;
    background-color:#009688;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer>h4{
    color: white;
}
#footer>h3>span>a>i{
    color: white;
    margin: 0px 10px ;
}

@media (max-width:990px){
    #content{
        flex-direction: column;
    }
    #contentLeft{
        width: 100%;
    }
    #contentRight{
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }
    i,.icon{
        margin-right: 25px;
    }
    

}
